# 虚拟环境
Doc/.webenv
src/01.ref_and_note/.venv
src/02.pytorch_learning/.venv

# 临时文件
Doc/public/out

# 01.GAN 数据集以及中间内容
src/01.ref_and_note/data/
src/01.ref_and_note/gan_generated_images/

# 02.pytorch_learning 中间内容
src/02.pytorch_learning/.ipynb_checkpoints